// Example 1
// --------

.example1 {
  ul { /* autoprefixer: off */
    list-style: none;
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 4px;
  }
  img {
    display: block;
    width: 100%;
  } 
}